<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>100</integer>
		<key>color</key>
		<string>#D13834</string>
		<key>title</key>
		<string>Crying in H Mart: A Memoir</string>
		<key>author</key>
		<string>Michelle Zauner</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780525657743.jpg</string>
		<key>summary</key>
		<string>An exploration of biculturalism, family and self told through an unflinching depiction of grief and the loss of a parent. The love language of food between Zauner and her mother is described so vividly that you’ll be craving a comforting meal while you call someone you love through tears.&quot; - Constance, Manager</string>
		<key>publisher</key>
		<string>Alfred A. Knopf</string>
		<key>pages</key>
		<integer>256</integer>
		<key>publishDate</key>
		<string>April 20, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#CE9E36</string>
		<key>id</key>
		<integer>102</integer>
		<key>title</key>
		<string>Concepcion: An Immigrant Family&apos;s Fortunes</string>
		<key>author</key>
		<string>Albert Samaha</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780593086087.jpg</string>
		<key>summary</key>
		<string>A journalist&apos;s powerful and incisive account of the forces steering the fate of his sprawling Filipino American family reframes how we comprehend the immigrant experience
Nearing the age at which his mother had migrated to the US, part of the wave of non-Europeans who arrived after immigration quotas were relaxed in 1965, Albert Samaha began to question the ironclad belief in a better future that had inspired her family to uproot themselves from their birthplace. </string>
		<key>publisher</key>
		<string>Riverhead Books</string>
		<key>pages</key>
		<integer>400</integer>
		<key>publishDate</key>
		<string>October 12, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#000000</string>
		<key>id</key>
		<integer>103</integer>
		<key>title</key>
		<string>Three Girls from Bronzeville: A Uniquely American Memoir of Race, Fate, and Sisterhood</string>
		<key>author</key>
		<string>Dawn Turner </string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9781982107703.jpg</string>
		<key>summary</key>
		<string>They were three Black girls. Dawn, tall and studious; her sister, Kim, younger by three years and headstrong as they come; and her best friend, Debra, already prom-queen pretty by third grade. They bonded--fervently and intensely in that unique way of little girls--as they roamed the concrete landscape of Bronzeville, a historic neighborhood on Chicago&apos;s South Side, the destination of hundreds of thousands of Black folks who fled the ravages of the Jim Crow South.</string>
		<key>publisher</key>
		<string>Simon &amp; Schuster</string>
		<key>pages</key>
		<integer>336</integer>
		<key>publishDate</key>
		<string>September 07, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#346966</string>
		<key>id</key>
		<integer>104</integer>
		<key>title</key>
		<string>Seek You: A Journey Through American Loneliness</string>
		<key>author</key>
		<string>Kristen Radtke</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9781524748067.jpg</string>
		<key>summary</key>
		<string>Ranging from the invention of the laugh-track to the rise of Instagram, the bootstrap-pulling cowboy to the brutal experiments of Harry Harlow, Radtke investigates why we engage with each other, and what we risk when we turn away. With her distinctive, emotionally-charged drawings and deeply empathetic prose, Kristen Radtke masterfully shines a light on some of our most vulnerable and sublime moments, and asks how we might keep the spaces between us from splitting entirely.</string>
		<key>publisher</key>
		<string>Pantheon Books</string>
		<key>pages</key>
		<integer>352</integer>
		<key>publishDate</key>
		<string>July 13, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#5B8A98</string>
		<key>id</key>
		<integer>105</integer>
		<key>title</key>
		<string>What Doesn&apos;t Kill You: A Life with Chronic Illness - Lessons from a Body in Revolt</string>
		<key>author</key>
		<string>Tessa Miller</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9781250751454.jpg</string>
		<key>summary</key>
		<string>Tessa Miller was an ambitious twentysomething writer in New York City when, on a random fall day, her stomach began to seize up. At first, she toughed it out through searing pain, taking sick days from work, unable to leave the bathroom or her bed. But when it became undeniable that something was seriously wrong, Miller gave in to family pressure and went to the hospital--beginning a years-long nightmare of procedures, misdiagnoses, and life-threatening infections.</string>
		<key>publisher</key>
		<string>Henry Holt &amp; Company</string>
		<key>pages</key>
		<integer>230</integer>
		<key>publishDate</key>
		<string>February 02, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#D14A34</string>
		<key>id</key>
		<integer>106</integer>
		<key>title</key>
		<string>Things I Have Withheld</string>
		<key>author</key>
		<string>Kei Miller</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780802158956.jpg</string>
		<key>summary</key>
		<string>In a deeply moving, critical and lyrical collection of interconnected essays, award-winning writer Kei Miller explores the silences in which so many important things are kept. Miller examines the experience of discrimination through this silence and what it means to breach it -- &quot;to risk words, to risk truth; and through the body and the histories those bodies inherit&quot; the crimes that haunt them, and how the meanings of our bodies can shift as we move through the world, variously assuming privilege or victimhood.</string>
		<key>publisher</key>
		<string>Grove Press</string>
		<key>pages</key>
		<integer>224</integer>
		<key>publishDate</key>
		<string>September 14, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#FEFEFE</string>
		<key>id</key>
		<integer>107</integer>
		<key>title</key>
		<string>Fight Night</string>
		<key>author</key>
		<string>Miriam Toews</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9781635578171.jpg</string>
		<key>summary</key>
		<string>&quot;You&apos;re a small thing,&quot; Grandma writes, &quot;and you must learn to fight.&quot; Swiv&apos;s Grandma, Elvira, has been fighting all her life. From her upbringing in a strict religious community, she has fought those who wanted to take away her joy, her independence, and her spirit. She has fought to make peace with her loved ones when they have chosen to leave her.</string>
		<key>publisher</key>
		<string>Bloomsbury Publishing</string>
		<key>pages</key>
		<integer>272</integer>
		<key>publishDate</key>
		<string>October 05, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#E6DCB6</string>
		<key>id</key>
		<integer>108</integer>
		<key>title</key>
		<string>The Wrong End of the Telescope</string>
		<key>author</key>
		<string>Mina Simpson</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780802157805.jpg</string>
		<key>summary</key>
		<string>Mina Simpson, a Lebanese doctor, arrives at the infamous Moria refugee camp on Lesbos, Greece, after being urgently summoned for help by her friend who runs an NGO there. Alienated from her family except for her beloved brother, Mina has avoided being so close to her homeland for decades. But with a week off work and apart from her wife of thirty years, Mina hopes to accomplish something meaningful, among the abundance of Western volunteers who pose for selfies with beached dinghies and the camp&apos;s children. Soon, a boat crosses bringing Sumaiya, a fiercely resolute Syrian matriarch with terminal liver cancer. </string>
		<key>publisher</key>
		<string>Grove Press</string>
		<key>pages</key>
		<integer>140</integer>
		<key>publishDate</key>
		<string>September 21, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#FADD4B</string>
		<key>id</key>
		<integer>109</integer>
		<key>title</key>
		<string>The Committed</string>
		<key>author</key>
		<string>Viet Thanh Nguyen</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780802157065.jpg</string>
		<key>summary</key>
		<string>The sequel to The Sympathizer, which won the 2016 Pulitzer Prize in Fiction and went on to sell over a million copies worldwide, The Committed tells the story of &quot;the man of two minds&quot; as he comes as a refugee to France and turns his hand to capitalism.
The long-awaited new novel from one of America&apos;s most highly regarded contemporary writers, The Committed follows the unnamed Sympathizer as he arrives in Paris in the early 1980s with his blood brother Bon. The pair try to overcome their pasts and ensure their futures by engaging in capitalism in one of its purest forms: drug dealing.</string>
		<key>publisher</key>
		<string>Grove Press</string>
		<key>pages</key>
		<integer>368</integer>
		<key>publishDate</key>
		<string>March 02, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#F6D851</string>
		<key>id</key>
		<integer>110</integer>
		<key>title</key>
		<string>The Sentence</string>
		<key>author</key>
		<string>Louise Erdrich</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780062671127.jpg</string>
		<key>summary</key>
		<string>Dazzling...A hard-won love letter to readers and to booksellers, as well as a compelling story about how we cope with pain and fear, injustice and illness. One good way is to press a beloved book into another&apos;s hands. Read The Sentence and then do just that. (USA Today, Four Stars)
In this New York Times bestselling novel, Pulitzer Prize and National Book Award-winning author Louise Erdrich creates a wickedly funny ghost story, a tale of passion, of a complex marriage, and of a woman&apos;s relentless errors.</string>
		<key>publisher</key>
		<string>Harper</string>
		<key>pages</key>
		<integer>140</integer>
		<key>publishDate</key>
		<string>November 09, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#323771</string>
		<key>id</key>
		<integer>111</integer>
		<key>title</key>
		<string>The Lost Apothecary</string>
		<key>author</key>
		<string>Sarah Penner</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780778311010.jpg</string>
		<key>summary</key>
		<string>Hidden in the depths of eighteenth-century London, a secret apothecary shop caters to an unusual kind of clientele. Women across the city whisper of a mysterious figure named Nella who sells well-disguised poisons to use against the oppressive men in their lives. But the apothecary&apos;s fate is jeopardized when her newest patron, a precocious twelve-year-old, makes a fatal mistake, sparking a string of consequences that echo through the centuries.</string>
		<key>publisher</key>
		<string>Park Row</string>
		<key>pages</key>
		<integer>320</integer>
		<key>publishDate</key>
		<string>March 02, 2021</string>
	</dict>
</array>
</plist>
