<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>#6D904C</string>
		<key>id</key>
		<integer>112</integer>
		<key>title</key>
		<string>Detransition, Baby</string>
		<key>author</key>
		<string>Torrey Peters</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780593133378.jpg</string>
		<key>summary</key>
		<string>Reese almost had it all: a loving relationship with Amy, an apartment in New York City, a job she didn&apos;t hate. She had scraped together what previous generations of trans women could only dream of: a life of mundane, bourgeois comforts. The only thing missing was a child. But then her girlfriend, Amy, detransitioned and became Ames, and everything fell apart. Now Reese is caught in a self-destructive pattern: avoiding her loneliness by sleeping with married men.</string>
		<key>publisher</key>
		<string>One World</string>
		<key>pages</key>
		<integer>352</integer>
		<key>publishDate</key>
		<string>January 12, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#BDBCB8</string>
		<key>id</key>
		<integer>113</integer>
		<key>title</key>
		<string>Somebody Loves You</string>
		<key>author</key>
		<string>Mona Arshi</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9781913505165.jpg</string>
		<key>summary</key>
		<string>A teacher asked me a question, and I opened my mouth as a sort of formality but closed it softly, knowing with perfect certainty that nothing would ever come out again.
Ruby gives up talking at a young age. Her mother isn&apos;t always there to notice; she comes and goes and goes and comes, until, one day, she doesn&apos;t. Silence becomes Ruby&apos;s refuge, sheltering her from the weather of her mother&apos;s mental illness and a pressurized suburban atmosphere.</string>
		<key>publisher</key>
		<string>And Other Stories</string>
		<key>pages</key>
		<integer>176</integer>
		<key>publishDate</key>
		<string>November 16, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#BB8953</string>
		<key>id</key>
		<integer>114</integer>
		<key>title</key>
		<string>No One Is Talking about This</string>
		<key>author</key>
		<string>Patricia Lockwood</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780593189580.jpg</string>
		<key>summary</key>
		<string>As this urgent, genre-defying book opens, a woman who has recently been elevated to prominence for her social media posts travels around the world to meet her adoring fans. She is overwhelmed by navigating the new language and etiquette of what she terms the portal, where she grapples with an unshakable conviction that a vast chorus of voices is now dictating her thoughts. When existential threats--from climate change and economic precariousness to the rise of an unnamed dictator and an epidemic of loneliness--begin to loom, she posts her way deeper into the portal&apos;s void. An avalanche of images, details, and references accumulate to form a landscape that is post-sense, post-irony, post-everything. Are we in hell? the people of the portal ask themselves. Are we all just going to keep doing this until we die?</string>
		<key>publisher</key>
		<string>Riverhead Books</string>
		<key>pages</key>
		<integer>224</integer>
		<key>publishDate</key>
		<string>February 16, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#CED5D0</string>
		<key>id</key>
		<integer>115</integer>
		<key>title</key>
		<string>The Prophets</string>
		<key>author</key>
		<string>Robert Jones Jr</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780593085684.jpg</string>
		<key>summary</key>
		<string>A singular and stunning debut novel about the forbidden union between two enslaved young men on a Deep South plantation, the refuge they find in each other, and a betrayal that threatens their existence.
Isaiah was Samuel&apos;s and Samuel was Isaiah&apos;s. That was the way it was since the beginning, and the way it was to be until the end. In the barn they tended to the animals, but also to each other, transforming the hollowed-out shed into a place of human refuge, a source of intimacy and hope in a world ruled by vicious masters. </string>
		<key>publisher</key>
		<string>G.P. Putnam&apos;s Sons</string>
		<key>pages</key>
		<integer>400</integer>
		<key>publishDate</key>
		<string>G.P. Putnam&apos;s Sons</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#425269</string>
		<key>id</key>
		<integer>116</integer>
		<key>title</key>
		<string>Orlando: A Biography</string>
		<key>author</key>
		<string>Virginia Woolf</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780156701600.jpg</string>
		<key>summary</key>
		<string>Virginia Woolf described &quot;Orlando&quot; as &quot;an escapade, half-laughing, half-serious; with great splashes of exaggeration, &quot; but many think Woolf&apos;s escapade is one of the most wickedly imaginative and sharply observed considerations of androgyny that this century will see.
Orlando is, in fact, a character liberated from the restraints of time and sex. Born in the Elizabethan Age to wealth and position, he is a young male aristocrat at the beginning of the story - and a modern woman four centuries later. The hero-heroine sees monarchs come and go, hobnobs with great literary figures, and slips in and out of each new fashion. Woolf presents a brilliant pageant of history, society, and literature as well as subtle appreciation of the interplay between endings and beginnings, past and present, male and female.</string>
		<key>publisher</key>
		<string>Mariner Books</string>
		<key>pages</key>
		<integer>352</integer>
		<key>publishDate</key>
		<string>October 24, 1973</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#76B4F3</string>
		<key>id</key>
		<integer>117</integer>
		<key>title</key>
		<string>Memorial</string>
		<key>author</key>
		<string>Bryan Washington</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780593087275.jpg</string>
		<key>summary</key>
		<string>A funny and profound story about family in all its strange forms, joyful and hard-won vulnerability, becoming who you&apos;re supposed to be, and the limits of love.
Benson and Mike are two young guys who live together in Houston. Mike is a Japanese American chef at a Mexican restaurant and Benson&apos;s a Black day care teacher, and they&apos;ve been together for a few years--good years--but now they&apos;re not sure why they&apos;re still a couple. There&apos;s the sex, sure, and the meals Mike cooks for Benson, and, well, they love each other.</string>
		<key>publisher</key>
		<string>Riverhead Books</string>
		<key>pages</key>
		<integer>320</integer>
		<key>publishDate</key>
		<string>October 27, 2020</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#F5CB4B</string>
		<key>id</key>
		<integer>118</integer>
		<key>title</key>
		<string>Juliet Takes a Breath</string>
		<key>author</key>
		<string>Gabby Rivera</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780593108192.jpg</string>
		<key>summary</key>
		<string>Juliet Milagros Palante is a self-proclaimed closeted Puerto Rican baby dyke from the Bronx. Only, she&apos;s not so closeted anymore. Not after coming out to her family the night before flying to Portland, Oregon, to intern with her favorite feminist writer--what&apos;s sure to be a life-changing experience. And when Juliet&apos;s coming out crashes and burns, she&apos;s not sure her mom will ever speak to her again.</string>
		<key>publisher</key>
		<string>Dial Books</string>
		<key>pages</key>
		<integer>320</integer>
		<key>publishDate</key>
		<string>May 11, 2021</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#F1EBDB</string>
		<key>id</key>
		<integer>119</integer>
		<key>title</key>
		<string>Zami: A New Spelling of My Name: A Biomythography</string>
		<key>author</key>
		<string>Geraldine Audre Lorde</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780895941220.jpg</string>
		<key>summary</key>
		<string>&quot;ZAMI is a fast-moving chronicle. From the author&apos;s vivid childhood memories in Harlem to her coming of age in the late 1950s, the nature of Audre Lorde&apos;s work is cyclical. It especially relates the linkage of women who have shaped her . . . Lorde brings into play her craft of lush description and characterization. It keeps unfolding page after page.&quot;--Off Our Backs</string>
		<key>publisher</key>
		<string>Crossing Press</string>
		<key>pages</key>
		<integer>272</integer>
		<key>publishDate</key>
		<string>January 01, 1982</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#D97983</string>
		<key>id</key>
		<integer>120</integer>
		<key>title</key>
		<string>The Gravity of Us</string>
		<key>author</key>
		<string>Phil Stamper</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9781547600144.jpg</string>
		<key>summary</key>
		<string>Cal wants to be a journalist, and he&apos;s already well underway with almost half a million followers on his FlashFame app and an upcoming internship at Buzzfeed. But his plans are derailed when his pilot father is selected for a highly-publicized NASA mission to Mars. Within days, Cal and his parents leave Brooklyn for hot and humid Houston.
With the entire nation desperate for any new information about the astronauts, Cal finds himself thrust in the middle of a media circus. Suddenly his life is more like a reality TV show, with his constantly bickering parents struggling with their roles as the perfect American family.</string>
		<key>publisher</key>
		<string>Bloomsbury YA</string>
		<key>pages</key>
		<integer>320</integer>
		<key>publishDate</key>
		<string>February 04, 2020</string>
	</dict>
	<dict>
		<key>color</key>
		<string>#85BDDA</string>
		<key>id</key>
		<integer>121</integer>
		<key>title</key>
		<string>Beautiful World, Where Are You</string>
		<key>author</key>
		<string>Sally Rooney</string>
		<key>coverURL</key>
		<string>https://images-us.bookshop.org/ingram/9780374602604.jpg</string>
		<key>summary</key>
		<string>Alice, a novelist, meets Felix, who works in a warehouse, and asks him if he&apos;d like to travel to Rome with her. In Dublin, her best friend, Eileen, is getting over a break-up, and slips back into flirting with Simon, a man she has known since childhood.
Alice, Felix, Eileen, and Simon are still young--but life is catching up with them. They desire each other, they delude each other, they get together, they break apart. They have sex, they worry about sex, they worry about their friendships and the world they live in. Are they standing in the last lighted room before the darkness, bearing witness to something? Will they find a way to believe in a beautiful world?</string>
		<key>publisher</key>
		<string>Farrar, Straus and Giroux</string>
		<key>pages</key>
		<integer>368</integer>
		<key>publishDate</key>
		<string>September 07, 2021</string>
	</dict>
</array>
</plist>
